* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.row {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    background-image: url(assets/6.jpeg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
}

.navs {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

.nav-links{
    margin: 7px 20px 0 400px;
}

.nav-links a {
    font-size: 20px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.headers{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    margin: 40px;
    max-width: 1280px;
    height: 400px;
    border-radius: 10px;  
}

.header-text {
    margin: 0 200px 150px 0;
}

.header-text h3 {
    font-size: 50px;
}

.header-text h2 {
    font-size: 30px;
    font-weight: 700;
}

.header-text button {
    background-color: #fff;
    border-style: none;
    color: black;
    opacity: 0.8;
    width: 150px;
    height: 50px;
}

.headerImage {
    margin: 0 0 140px 0;
}

.about {
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(assets/13.jpeg);
    background-size: cover;
}

.about-text {
    color: #ffffff;
    padding: 150px;
}

.about-text h2 {
    font-weight: 700;
}

.counter-wrapper{
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40px;
}

.counter{
    margin: 40px 60px;
    font-size: 30px;
    font-weight: 700;
}